<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Made in Rope</title>
    </head> 
<body>
    <main id="login-main">
      <button id="allProductsPrices" type="button" class="btn btn-primary">Prices</button>
        <h1> Editar producto</h1>
        <form action="/edit/<%=product.id%>" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="<%=product.name%>">
            </div>
            <div>
                <label>Categoría</label>
                <select name="category">                          
                    <option value="" disabled selected>Elegí una categoría</option>
                    <% for(let i=0; i<category.length; i++){ %>
                        <option value="<%=category[i].id%>"><%=category[i].name%></option>  
                    <%}%> 
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Precio</label>
                <input type="number" class="form-control" id="inputThePrice" name="price" value="<%=product.price%>">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Cambiar todos los precios %</label>
              <input type="hidden" class="form-control" id="inputPrices" name="prices">
          </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Descripción</label>
              <textarea name="description"> <%=product.description%> </textarea>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="image_product" accept=".gif,.png,.jpeg,.jpg" multiple="multiple">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
          <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02" name="image_product" accept=".gif,.png,.jpeg,.jpg" multiple="multiple">
              <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
          <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02" name="image_product" accept=".gif,.png,.jpeg,.jpg" multiple="multiple">
              <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
          <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02" name="image_product" accept=".gif,.png,.jpeg,.jpg" multiple="multiple">
              <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>

          <p>No querés cambiar las imagenes? No cargues ningún archivo! </p>
            <label> Querés eliminar el producto? Stock = 0  </label> 
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Stock</label>
              <input type="number" class="form-control" id="exampleInputPassword1" name="stocl" >
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
   

    <script src="/javascript/editProducts.js"></script>
</body>
</html>


