<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body>
    <header>
       
        <nav id="navbar">
            
        
            
        <a href='/lamorita'><button type="button" class="btn btn-outline-light">Conocenos</button></a>
        <a href='/talles'><button type="button" class="btn btn-outline-light">Tabla de talles</button></a>
        <a href='/como_comprar'><button type="button" class="btn btn-outline-light">Cómo comprar</button></a>
        <div id="clickFav"><i class="fas fa-heart fa-2x"></i></div>
        
        </div>
    </nav>
       
        
        <div class= "banner-index">
            <div class= "img-banner-index">
                <img src= "/img/frontEnd/banner-index.png">
            </div>
        </div>

          
   
    </header>
    <main>
        <div class= "banner-index">
            <img src= "/img/frontEnd/index-img.png">
        </div>
        <div id="conteiner">
            <div class="subtitulo">
                <img src="/img/frontEnd/titulo-index.png" alt="Nuestros productos" class= "subtitulo">
            </div>
                    <div class= "menuCategorias">
              
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryBozales">
                                <img src="/img/frontEnd/bozales.png" alt="bozales" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Bozales</div>
                                </div>
                            </a>
                           
                        </div>
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryRiendas">
                                <img src="/img/frontEnd/riendas.png" alt="riendas" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Riendas</div>
                                </div>
                            </a>
                        </div>
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryAccesorios">
                                <img src="/img/frontEnd/accesorios.png" alt="accesorios" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Accesorios</div>
                                </div>
                            </a>
                        </div>
                        
                      
            
                </div>
             <div class="category-product">
                <div class="subtitulo-categoria">
                    <img src="/img/frontEnd/index-bozales.png" alt="Bozales" class= "subtitulo">
                </div>
                
            <% for(let i=0; i<productosC1.length; i++){%>
                
                <div class="card bg-dark text-white product productConteiner">
                    <a class="lightbox" href="/detail/<%=productosC1[i].id%>">
                    <% if(productosC1[i].image_product){%>
                        <img class="imgCat" src="/img/productImages/<%=productosC1[i].image_product%>" > 
                    <%}else{%>
                        <img class="imgCat" src="/img/logo.jpg" >
                    <%}%>
                    <div class="overlayCat">
                        <div class="text"><%= productosC1[i].name %></div>
                    </div>
                    </a>
                    
                </div>
                
            <%}%>
            </div>
            <div class="category-product">
                <div class="subtitulo-categoria">
                    <img src="/img/frontEnd/index-riendas.png" alt="Riendas" class= "subtitulo">
                </div>
            <% for(let i=0; i<productosC2.length; i++){%>
                <div class="card bg-dark text-white product productConteiner">
                    <a class="lightbox" href="/detail/<%=productosC2[i].id%>">
                    <% if(productosC2[i].image_product){%>
                        <img class="imgCat" src="/img/productImages/<%=productosC2[i].image_product%>" > 
                    <%}else{%>
                        <img class="imgCat" src="/img/logo.jpg" >
                    <%}%>
                    <div class="overlayCat">
                        <div class="text"><%= productosC2[i].name %></div>
                    </div>
                    </a>
                    
                </div>
            <%}%>
            </div>
            <div class="category-product">
                <div class="subtitulo-categoria">
                    <img src="/img/frontEnd/index-accesorios.png" alt="Accesorios" class= "subtitulo">
                </div>

            <% for(let i=0; i<productosC3.length; i++){%>
                <div class="card bg-dark text-white product productConteiner">
                    <a class="lightbox" href="/detail/<%=productosC3[i].id%>">
                    <% if(productosC1[i].image_product){%>
                        <img class="imgCat" src="/img/productImages/<%=productosC3[i].image_product%>" > 
                    <%}else{%>
                        <img class="imgCat" src="/img/logo.jpg" >
                    <%}%>
                    <div class="overlayCat">
                        <div class="text"><%= productosC3[i].name %></div>
                    </div>
                    </a>
                    
                </div>
            <%}%>
            </div>
        
        </div>
      
        <footer id="foot">
                <label class="footer-titulos"></label>
                <a href="/whatsapp"><i class="fab fa-whatsapp footer-items fa-4x"></i></label>
                <a href="https://www.google.com.ar/maps/place/Los+Panas+Centro+Ecuestre,+CGA,+Nicaragua+101,+B1632+Manzanares,+Provincia+de+Buenos+Aires/@-34.4565133,-59.013026,17z/data=!4m2!3m1!1s0x95bc81f343e2b7dd:0x66e179eb76bfce0b"><i class="fas fa-map-marker-alt footer-items fa-4x"></i></label>
                <a href="/"> <img class="logo" src="/img/frontEnd/logo-made.png" alt="logo"></a> 
                <a href="https://www.instagram.com/madeinrope/"><i class="fab fa-instagram footer-items fa-4x"></i></a>
                <label><i class="fab fa-facebook footer-items fa-4x"></i></label>
        </footer>
        <script src="/javascript/home.js"></script>
        <script src="/javascript/favs.js"></script>
    </body>
</html>