<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body>
    <header>
       
        <nav id="navbar">
            
        
            
        <a href="/user/login"><button type="button" class="btn btn-outline-secondary">Ingresar</button></a>    
        <a href="/user/cart"><button type="button" class="btn btn-outline-secondary">Shop</button></a>
        <a href='/lamorita'><button type="button" class="btn btn-outline-success">Nosotros</button></a>
        <a href='/talles'><button type="button" class="btn btn-outline-success">Tabla de talles</button></a>
        <a href='/como_comprar'><button type="button" class="btn btn-outline-light">Cómo comprar</button></a>
        <a href="#"><button type="button" class="btn btn-outline-light">Preguntas frecuentes</button></a>
    </nav>
       
        
        <div class= "banner-index">
            <div class= "img-banner-index">
                <img src= "/img/frontEnd/banner-index.png">
            </div>
        </div>

          
   
    </header>
    <main>
        <div id="conteiner">
            <div class="subtitulo">
                <img src="/img/frontEnd/titulo-index.png" alt="Nuestros productos" class= "subtitulo">
            </div>
                    <div class= "menuCategorias">
              
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryBozales">
                                <img src="/img/frontEnd/bozales.png" alt="bozales" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Bozales</div>
                                </div>
                            </a>
                           
                        </div>
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryRiendas">
                                <img src="/img/frontEnd/riendas.png" alt="riendas" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Riendas</div>
                                </div>
                            </a>
                        </div>
                        <div class="categoria-listado">
                            <a class="lightbox" href="#categoryAccesorios">
                                <img src="/img/frontEnd/accesorios.png" alt="accesorios" class="imagenCategoria">
                                <div class="overlayList">
                                  <div class="text">Accesorios</div>
                                </div>
                            </a>
                        </div>
                        
                      
            
                </div>
             <div class="category-product">
            <h2 class="category" id="categoryBozales"> Bozales</h2>
            <% for(let i=0; i<productosC1.length; i++){%>
                <div class="card bg-dark text-white product productConteiner">
                    <% if(productosC1[i].image_product){%>
                        <img src="/img/productImages/<%=productosC1[i].image_product%>" > 
                    <%}else{%>
                        <img src="/img/logo.jpg" >
                    <%}%>
                    <div class="card-img-overlay">
                        <a href="/detail/<%=productosC1[i].id%>"><h5 class="card-title textcard"><%= productosC1[i].name %></h5></a>
                    </div>
                </div>
                
            <%}%>
            </div>
            <div class="category-product">
            <h2 class="category" id="categoryRiendas">Riendas</h2>
            <% for(let i=0; i<productosC2.length; i++){%>
                <div class="card bg-dark text-white product productConteiner">
                    <% if(productosC2[i].image_product){%>
                        <img src="/img/productImages/<%=productosC2[i].image_product%>" > 
                    <%}else{%>
                        <img src="/img/logo.jpg" >
                    <%}%>
                    <div class="card-img-overlay">
                       <a href="/detail/<%=productosC2[i].id%>"><h5 class="card-title textcard"><%= productosC2[i].name %></h5> </a>
                    </div>
                </div>
            <%}%>
            </div>
            <div class="category-product">
            <h2 class="category" id="categoryAccesorios">Accesorios</h2>

            <% for(let i=0; i<productosC3.length; i++){%>
                <div class="card bg-dark text-white product productConteiner">
                    <% if(productosC3[i].image_product){%>
                        <img src="/img/productImages/<%=productosC3[i].image_product%>" > 
                    <%}else{%>
                        <img src="/img/logo.jpg" >
                    <%}%>
                    <div class="card-img-overlay">
                       <a href="/detail/<%=productosC3[i].id%>"> <h5 class="card-title textcard"><%= productosC3[i].name %></h5> </a>
                    </div>
                </div>
            <%}%>
            </div>
        
        </div>
      
        <footer id="foot">
                <label class="footer-titulos"></label>
                <a href="/"><i class="fab fa-whatsapp footer-items fa-4x"></i></label>
                <a href="https://www.google.com.ar/maps/place/Los+Panas+Centro+Ecuestre,+CGA,+Nicaragua+101,+B1632+Manzanares,+Provincia+de+Buenos+Aires/@-34.4565133,-59.013026,17z/data=!4m2!3m1!1s0x95bc81f343e2b7dd:0x66e179eb76bfce0b"><i class="fas fa-map-marker-alt footer-items fa-4x"></i></label>
                <a href="/"> <img class="logo" src="/img/frontEnd/logo-made.png" alt="logo"></a> 
                <a href="https://www.instagram.com/madeinrope/"><i class="fab fa-instagram footer-items fa-4x"></i></a>
                <label><i class="fab fa-facebook footer-items fa-4x"></i></label>
        </footer>
        <script src="/javascript/home.js"></script>
    </body>
</html>